
body {
    max-width: 400px;
    margin: 0 auto;
}
.empty-workout-container .p-inplace-content, .empty-workout-container .p-inplace-display {
    font-size: 2rem;
}

.empty-workout-container .p-inplace {
    min-height: 4rem;
}

.empty-workout-container .p-autocomplete-panel {
    position: static;
}

.workout-container {
    padding-left: 15px;
    padding-right: 15px;
}

.add-exercise-dialog .filter-exercise-dialog {
    margin-bottom: 8px;
}

table {
    font-size: 12px;
}

.add-set-button {
    margin-bottom: 25px;
    font-size: 10px;
}

.exercise-name {
    font-size: 1rem;
}

.sign-in-section {
    margin-top: 24px;
}

html, body, #root, .empty-workout-container, .workout-container {
    height: 100%;
}

@media only screen and (max-width: 576px) {
    /*.container {*/
        /*padding-left: 0;*/
        /*padding-right: 0;*/
    /*}*/
    .empty-workout-container .p-dialog {
        width: 100% !important;
    }
}